body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('quadro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.concluida {
    text-decoration: line-through;
    color: #999;
}

.acoes a {
    margin-left: 10px;
    text-decoration: none;
}

.acoes a:hover {
    text-decoration: underline;
}

.editar {
    background-color: #ffff99; /* amarelo */
}

.concluir {
    background-color: #66ff66; /* verde */
}

.excluir {
    background-color: #ff6666; /* vermelho */
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}